# Ignorar dependencias de Node, deben instalarse dentro del contenedor
node_modules
client/node_modules

# Ignorar logs, archivos de build y carpetas temporales del frontend
client/dist
client/.vite
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos virtuales de Python y caché
.venv
__pycache__
*.pyc

# Archivos de Git y de IDEs
.git
.vscode
.idea